{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container text-center">
    <h1>Bienvenido a Market</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <a href="{{ url_for('loginRoute.login') }}" class="btn btn-primary btn-lg"><i class="fas fa-sign-in-alt me-2"></i>Iniciar Sesión</a>
        </div>
        <div class="col-md-6">
            <a href="{{ url_for('loginRoute.signup') }}" class="btn btn-success btn-lg"><i class="fas fa-user-plus me-2"></i>Crear Cuenta</a>
        </div>
    </div>
</div>
{% endblock %}
